/* Reset some default browser styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    line-height: 1.6;
    color: #f0f0f0;
    background-color: #1a1a1d;
}

header {
    background-color: #333;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px;
    margin-right: 10px;
}

.site-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff5733;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff5733;
}

#hero {
    background: url('images\hero-bg.avif') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

#hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.cta-button {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e14e29;
}

#games {
    padding: 40px 20px;
    text-align: center;
}

#games h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #ff5733;
}

.game-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.game-item {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
    text-align: center;
}

.game-image {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

#about {
    background-color: #2e2e2e;
    color: #f0f0f0;
    padding: 40px 20px;
    text-align: center;
}

#about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff5733;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

#cta {
    background-color: #1a1a1d;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

#cta h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff5733;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ff5733;
}
